<div class="avis_bloc moving_form">
  <ol class="list-unstyled col-xs-12">
    <li class=" col-xs-12">
      <h3 class="grey1">Avis reçus</h3>
      <p class="text-center">Pas d'avis</p>
    </li>
    <li class=" col-xs-12">
      <h3 class="grey1">Avis donnés</h3>
      <p class="text-center">Pas d'avis</p>
    </li>
    <li class=" col-xs-12">
      <h3 class="grey1">Avis en attente</h3>
      <p class="text-center">Pas d'avis</p>

    </li>


  </ol>

</div>
<script type="text/javascript">

</script>
