<div class="blacklist_bloc moving_form">
  <ol class="list-unstyled col-xs-12">
    <li class=" col-xs-12">
      <h3 class="grey1">Utilisateurs blacklistés</h3>
      <ol class="list-unstyled">
        <li> Liste vide</li>
      </ol>
    </li>
  </ol>
</div>
