<div class="friends_bloc moving_form">
  <ol class="list-unstyled col-xs-12">
    <li class=" col-xs-12">
      <h3 class="grey1">Rechercher un ami</h3>
      <input type="text" name="" value="">
    </li>
    <li class=" col-xs-12">
      <h3 class="grey1">Mes amis</h3>
      <p class="text-center">Pas d'amis</p>
    </li>
    <li class=" col-xs-12">
      <h3 class="grey1">Ajouter un(e) ami(e)</h3>
      <input type="text" name="" value="">
    </li>
  </ol>
</div>
