<div class="home-lieux-bloc text-center">
  <div class="container">
    <div class="col-md-6 region">
      <div class="col-xs-4 col-xs-offset-4">

        <%= image_tag("hdf.png", class: "image-responsive logohdf " ) %>
    </div>
<h4 class="col-xs-12">Dans les Hauts de France... Et Bientôt partout</h4>
    </div>
    <div class="col-md-6 presse">
      <h3 class="text-center col-xs-12">
        On parle de nous dans la presse
      </h3>
      <ul class="list-unstyled list-inline presse-list col-xs-12 text-center">
        <li class="presse-item">  <%= link_to image_tag("vdn.jpg", class:"logo-presse"), "http://www.lavoixdunord.fr/57566/article/2016-10-11/ils-creent-une-plateforme-de-livraisons-de-courses-entre-voisins", class:"presse-link ", alt:"article voix du nord" %></li>
        <li class="presse-item">  <%= link_to image_tag("circonflexmag.jpg", class:"logo-presse"), "http://www.circonflexmag.fr/pick-up-my-drive-faites-les-courses-de-vos-voisins/", class:"presse-link ", alt:"article circonflexe mag" %></li>
        <li class="presse-item">  <%= link_to image_tag("rbxxl.png", class:"logo-presse"), "http://www.roubaixxl.fr/start-up-weekend-roubaix-quatre-projets-sur-les-rails/", class:"presse-link ", alt:"article roubaixxl" %></li>
      </ul>
    </div>
  </div>
</div>
