<div class="home-socialnetwork-bloc text-center">
  <div class="container">
    <div class="row">


    <h2 class="home-bloc-title">PUMP SUR LES RESEAUX SOCIAUX</h2>
        <hr class="home-bloc-separator">

<div class="col-md-6 hometwitter">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-3 sociallogo">
      <%= image_tag("twitter.png", class:"img-responsive") %>
    </div>
    <h4 class="text-left">@mypumpfr</h4>
    <a class="twitter-follow-button text-left"
    href="https://twitter.com/mypumpfr">
    Follow @mypumpfr</a>
  </div>
  <a class="twitter-timeline" href="https://twitter.com/mypumpfr">Tweets by Mypump</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="col-md-6 homefacebook">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-3 sociallogo">
      <%= image_tag("facebook.png", class:"img-responsive") %>
    </div>
    <h4 class="text-left">@pump.fr</h4>
  </div>
  <div class="fb-page" data-href="https://www.facebook.com/pump.fr/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/pump.fr/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/pump.fr/">mypump.fr</a></blockquote></div>
</div>

    </div>
    </div>
  </div>

<script type="text/javascript">
  $(document).ready(function(){

    $('._2p3a').css({width:"250px"})
  })
</script>
