<ol class="list-unstyled">
  <% if trajets==nil %>
    <li  class="isemptytext">
      Pas de pickings à venir
    </li>
    <li>
      <% if current_user.driver %>
      <%= link_to "Proposer un picking", new_trajetpumd_path(current_user)%>
      <% end %>
    </li>
    <% else %>
        <% trajets.each do |trajet| %>
    <li class="pickingitem row">

      <div class="col-xs-9 text-left">
        <p class="bold delay"><%=trajet.do_at.strftime("%FT%R")%></p>
        <p class="city"><%=trajet.shop.listname%></p>


      </div>
      <div class="col-xs-3">
          <%= image_tag(trajet.shop.brand.minipic, class:"img-responsive profilavatar") %>
      </div>
      <hr class="col-xs-8 col-xs-offset-2">


    </li>
    <% end %>
    <% end %>
</ol>
