<ol class="list-unstyled friendslist list-inline row">
  <% if amis==nil %>
    <li  class="isemptytext">
      Pas encore d'ami
    </li>
    <% else %>
        <% amis.each do |ami| %>
    <li class="firenditem col-xs-4">


    </li>
    <% end %>
    <% end %>
</ol>
