<ol class="list-unstyled">
  <% if trajets==nil %>
    <li  class="isemptytext">
      Pas de pickings à venir
    </li>
    <li>
      <% if current_user.driver %>
      <%= link_to "Proposer un picking", new_trajetpumd_path(current_user)%>
      <% end %>
    </li>
    <% else %>
        <% trajets.each do |trajet| %>
        <%= link_to (trajetpumd_path(trajet)) do %>
    <li class="pickingitemforshop row">
      <hr class="col-xs-8 col-xs-offset-2 listseparator">

      <div class="col-xs-9 text-left">
        <p class="bold delay"><%=trajet.do_at.strftime("%FT%R")%></p>


      </div>
      <div class="col-xs-3">
          <%= image_tag(trajet.user.avatar_url(:thumb), class:"img-responsive img-circle profilavatar") %>
      </div>


    </li>
    <% end %>
    <% end %>
    <% end %>
</ol>

<script type="text/javascript">
  $('.pickingitemforshop .listseparator').first().hide();
</script>
