<div class="container toppage newtrajet">
  <div class="row">
    <div class=" col-xs-12 col-md-10 col-md-offset-1">
      <div class="row">
        <h3 class="modaltitle">POSTER UN PICKING</h3>
        <% @trajet=Trajetpumd.new %>

  
<%= render partial:'create' %>
  </div>
  </div>
  </div>
</div>
