/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 *
 */
@import'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'rails_bootstrap_forms';
@import 'bootstrap-toggle';
@import 'index';
@import 'brands';
@import 'shops';
@import 'contact';
@import 'transactions';
@import 'users';
@import "static_pages";
@import "trajetpumds";
@import 'layout';

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
  background-color: white;
  min-height: 100%;
  position: relative;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #8e3dfb;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(218, 218, 218);
  outline: 1px solid slategrey;
}



.red{
  color: red
}
.org{
  color: orange
}
.green{
  border: green
}
.bred{
  border: 3px solid red
}
.borg{
  border: 3px solid orange
}


.message {
  position: fixed;
  top: 80px;
  left: 15%;
  width: 70%;
  background-color: transparent;
  z-index: 9999
}
.close {
  	font-size: 50px;
  	opacity: 0.5;
  	filter: alpha(opacity=50);
  }
  .alert-dismissable .close, .alert-dismissible .close {
  	position: relative;
  	top: -12px;
  	right: -21px;
  	color: inherit;
  }
  #error_explanation {
    border: 2px solid red;
    text-align: center;
    background-color: rgb(255, 233, 233)
  }
.carblock {
  display:none
}
.validationloading {
  float: none;
}
.navbar-right button {
  margin-top: 3%
}

.row {
  padding: 0;
  margin:0
}
.navbar-toggle {
  border: 1px solid rgb(0, 114, 163);
  color: rgb(0, 114, 163);
  background-color: rgb(200, 197, 197)
}
.navbar-toggle.collapsed {
  background-color: transparent
}
.navbar-header{
  padding-right: 15px
}

.navbar-right .fa {
  float: none
}
#navtdbicon {
	height: 30px;
  width: auto;
	opacity: 0.7;
}
.logoutbtn {
  margin-top: 3px
}
#new_user label {
  display: inline-block;
  font-size: 100%;
  font-weight: bold;
}
#new_user li {
margin: 15px 0
}
#new_user em {
  display: inline-block;
  color: rgb(55, 55, 55);
  font-size: 75%;
  font-weight: bold;
}


#user_phone2 {
  margin-left: 5px
}
#user_cmodel_id{
  max-width: 100%
}

#dtob {
  overflow: visible;
}
#new_user .boolean label{
  padding: 0
}


 form .field_with_errors input {
  -moz-box-shadow: 5px 5px 2px 0px #cb0000;
  -webkit-box-shadow: 5px 5px 2px 0px #cb0000;
  -o-box-shadow: 5px 5px 2px 0px #cb0000;
  box-shadow: 5px 5px 2px 0px #cb0000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cb0000, Direction=134, Strength=2);
  margin-right: 30px
}
form .message {
  position: relative;
  top:5px

}
.yellow { border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px; }

footer img {
  width: 65%
}
footer {

  width: 100%
}
body{
  min-height: 100vh
}
@media all and (max-width:991px) {
  .nav > li {
    display: inline-block;
  }

  .navbar-right .btn-lg {
    margin-top:   2px !important;
    padding: 12px 10px
  }
  .navicocontact, .navicohome {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    font-size: 0.8em;
    color: rgb(41, 175, 232)
  }
  .navicouser, .navicocoins {
    position: relative;
    top: -5px;
        color: rgb(41, 175, 232)
  }
  .navicoout {
    font-size: 0.75em;
    color: white;
    background-color: #FA8846;
    border-radius: 5px;
    border-color: #DE5B49;
    padding: 2px 4px !important;
    margin-top: 6px
  }
  height: none;
}

@media all and (max-width:768px) {
  .navicocontact, .navicohome {
    padding-top: 10px !important;
    font-size: 0.8em;
    color: rgb(41, 175, 232)
  }
  .nav > li > a{
display: inline-block;
  }
  .navicouser, .navicocoins {
    position: relative;
    top: -5px
  }
  .navbar-right .btn-lg {
    margin-top:  -10px !important;
    margin-bottom: 5px !important;
    padding: 10px 10px;
    vertical-align: middle;
  }

  .navbar-right .fa {
    float: none;
  }
  .nav{
    background-color: rgba(255, 255, 255, 0.85);

  }
}
.bootstrap-datetimepicker-widget{
  color: black
}

.cssload-body {
	position: absolute;
	margin-left: -106px;
	left: 50%;
  top:48%;
	animation: speeder 0.46s linear infinite;
		-o-animation: speeder 0.46s linear infinite;
		-ms-animation: speeder 0.46s linear infinite;
		-webkit-animation: speeder 0.46s linear infinite;
		-moz-animation: speeder 0.46s linear infinite;
}
.cssload-body {
  transition: 1s;
  transition-timing-function: cubic-bezier(.86,.02,.14,1);
  -webkit-transition: 1s;
}
.cssload-body.left{
  left: 120%;
}

.cssload-body > span {
	height: 11px;
	width: 74px;
	background: rgb(143,61,251);
	position: absolute;
	top: -40px;
	left: 128px;
	border-radius: 4px 21px 2px 0;
}

.cssload-base span {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-right: 213px solid rgb(0,188,240);
	border-bottom: 13px solid transparent;
}

.cssload-base span:after {
	content: "";
	height: 47px;
	width: 47px;
	border-radius: 50%;
	background: rgb(0,188,240);
	position: absolute;
	right: -234px;
	top: -34px;
}

.cssload-base span:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 0 solid transparent;
	border-right: 117px solid rgb(0,188,240);
	border-bottom: 34px solid transparent;
	top: -34px;
	right: -208px;
}

.cssload-face {
	position: absolute;
	height: 26px;
	width: 43px;
	background: rgba(143,61,251,0.98);
	border-radius: 43px 43px 0 0;
	transform: rotate(-40deg);
		-o-transform: rotate(-40deg);
		-ms-transform: rotate(-40deg);
		-webkit-transform: rotate(-40deg);
		-moz-transform: rotate(-40deg);
	right: -266px;
	top: -32px;
}

.cssload-face:after {
	content: "";
	height: 26px;
	width: 26px;
	background: rgb(247,152,69);
	right: 9px;
	top: 15px;
	position: absolute;
	border-radius: 50% 0 50% 8px;
	transform: rotate(40deg);
		-o-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		-webkit-transform: rotate(40deg);
		-moz-transform: rotate(40deg);
	transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
}

.cssload-body > span > span:nth-child(1),
.cssload-body > span > span:nth-child(2),
.cssload-body > span > span:nth-child(3),
.cssload-body > span > span:nth-child(4){
	width: 64px;
	height: 2px;
	background: rgb(143,61,251);
	position: absolute;
	animation: fazer1 0.23s linear infinite;
		-o-animation: fazer1 0.23s linear infinite;
		-ms-animation: fazer1 0.23s linear infinite;
		-webkit-animation: fazer1 0.23s linear infinite;
		-moz-animation: fazer1 0.23s linear infinite;
}

.cssload-body > span > span:nth-child(2) {
	top: 6px;
	 animation: fazer2 0.46s linear infinite;
		-o-animation: fazer2 0.46s linear infinite;
		-ms-animation: fazer2 0.46s linear infinite;
		-webkit-animation: fazer2 0.46s linear infinite;
		-moz-animation: fazer2 0.46s linear infinite;
}

.cssload-body > span > span:nth-child(3) {
	top: 2px;
	animation: fazer3 0.46s linear infinite;
		-o-animation: fazer3 0.46s linear infinite;
		-ms-animation: fazer3 0.46s linear infinite;
		-webkit-animation: fazer3 0.46s linear infinite;
		-moz-animation: fazer3 0.46s linear infinite;
	animation-delay: -1.15s;
		-o-animation-delay: -1.15s;
		-ms-animation-delay: -1.15s;
		-webkit-animation-delay: -1.15s;
		-moz-animation-delay: -1.15s;
}

.cssload-body > span > span:nth-child(4) {
	top: 9px;
	animation: fazer4 1.15s linear infinite;
		-o-animation: fazer4 1.15s linear infinite;
		-ms-animation: fazer4 1.15s linear infinite;
		-webkit-animation: fazer4 1.15s linear infinite;
		-moz-animation: fazer4 1.15s linear infinite;
	animation-delay: -1.15s;
		-o-animation-delay: -1.15s;
		-ms-animation-delay: -1.15s;
		-webkit-animation-delay: -1.15s;
		-moz-animation-delay: -1.15s;
}




.cssload-longfazers {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cssload-longfazers span {
	position: absolute;
	height: 4px;
	width: 20%;
	background: rgba(0,0,0,0.66);
}

.cssload-longfazers span:nth-child(1) {
	top: 20%;
	animation: cssload-lf 0.69s linear infinite;
		-o-animation: cssload-lf 0.69s linear infinite;
		-ms-animation: cssload-lf 0.69s linear infinite;
		-webkit-animation: cssload-lf 0.69s linear infinite;
		-moz-animation: cssload-lf 0.69s linear infinite;
	animation-delay: -5.75s;
		-o-animation-delay: -5.75s;
		-ms-animation-delay: -5.75s;
		-webkit-animation-delay: -5.75s;
		-moz-animation-delay: -5.75s;
}

.cssload-longfazers span:nth-child(2) {
	top: 40%;
	animation: cssload-lf 0.92s linear infinite;
		-o-animation: cssload-lf 0.92s linear infinite;
		-ms-animation: cssload-lf 0.92s linear infinite;
		-webkit-animation: cssload-lf 0.92s linear infinite;
		-moz-animation: cssload-lf 0.92s linear infinite;
	animation-delay: -1.15s;
		-o-animation-delay: -1.15s;
		-ms-animation-delay: -1.15s;
		-webkit-animation-delay: -1.15s;
		-moz-animation-delay: -1.15s;
}

.cssload-longfazers span:nth-child(3) {
	top: 60%;
	animation: cssload-lf 0.69s linear infinite;
		-o-animation: cssload-lf 0.69s linear infinite;
		-ms-animation: cssload-lf 0.69s linear infinite;
		-webkit-animation: cssload-lf 0.69s linear infinite;
		-moz-animation: cssload-lf 0.69s linear infinite;
}

.cssload-longfazers span:nth-child(4) {
	top: 80%;
	animation: cssload-lf 0.58s linear infinite;
		-o-animation: cssload-lf 0.58s linear infinite;
		-ms-animation: cssload-lf 0.58s linear infinite;
		-webkit-animation: cssload-lf 0.58s linear infinite;
		-moz-animation: cssload-lf 0.58s linear infinite;
	animation-delay: -3.45s;
		-o-animation-delay: -3.45s;
		-ms-animation-delay: -3.45s;
		-webkit-animation-delay: -3.45s;
		-moz-animation-delay: -3.45s;
}



@keyframes fazer1 {0% {left: 0;} 100% {left: -170px;opacity: 0;}}


@-o-keyframes fazer1 {0% {left: 0;} 100% {left: -170px;opacity: 0;}}



@-ms-keyframes fazer1 {0% {left: 0;} 100% {left: -170px;opacity: 0;}}



@-webkit-keyframes fazer1 {0% {left: 0;} 100% {left: -170px;opacity: 0;}}



@-moz-keyframes fazer1 {0% {left: 0;} 100% {left: -170px;opacity: 0;}}



@keyframes fazer2 {0% {left: 0;} 100% {left: -213px;opacity: 0;}}



@-o-keyframes fazer2 {0% {left: 0;} 100% {left: -213px;opacity: 0;}}



@-ms-keyframes fazer2 {0% {left: 0;} 100% {left: -213px;opacity: 0;}}



@-webkit-keyframes fazer2 {0% {left: 0;} 100% {left: -213px;opacity: 0;}}



@-moz-keyframes fazer2 {0% {left: 0;} 100% {left: -213px;opacity: 0;}}



@keyframes fazer3 {0% {left: 0;} 100% {left: -106px;opacity: 0;}}

@-o-keyframes fazer3 {0% {left: 0;} 100% {left: -106px;opacity: 0;}}



@-ms-keyframes fazer3 {0% {left: 0;} 100% {left: -106px;opacity: 0;}}



@-webkit-keyframes fazer3 {0% {left: 0;} 100% {left: -106px;opacity: 0;}}



@-moz-keyframes fazer3 {0% {left: 0;} 100% {left: -106px;opacity: 0;}}



@keyframes fazer4 {0% {left: 0;} 100% {left: -319px;opacity: 0;}}



@-o-keyframes fazer4 {0% {left: 0;} 100% {left: -319px;opacity: 0;}}



@-ms-keyframes fazer4 {0% {left: 0;} 100% {left: -319px;opacity: 0;}}



@-webkit-keyframes fazer4 {0% {left: 0;} 100% {left: -319px;opacity: 0;}}



@-moz-keyframes fazer4 {0% {left: 0;} 100% {left: -319px;opacity: 0;}}



@keyframes speeder {
	0% { transform: translate(4px, 2px) rotate(0deg); }
	10% { transform: translate(-2px, -6px) rotate(-1deg); }
	20% { transform: translate(-4px, 0px) rotate(1deg); }
	30% { transform: translate(2px, 4px) rotate(0deg); }
	40% { transform: translate(2px, -2px) rotate(1deg); }
	50% { transform: translate(-2px, 6px) rotate(-1deg); }
	60% { transform: translate(-2px, 2px) rotate(0deg); }
	70% { transform: translate(6px, 2px) rotate(-1deg); }
	80% { transform: translate(-4px, -2px) rotate(1deg); }
	90% { transform: translate(4px, 2px) rotate(0deg); }
	100% { transform: translate(2px, -4px) rotate(-1deg); }
}

@-o-keyframes speeder {
	0% { -o-transform: translate(4px, 2px) rotate(0deg); }
	10% { -o-transform: translate(-2px, -6px) rotate(-1deg); }
	20% { -o-transform: translate(-4px, 0px) rotate(1deg); }
	30% { -o-transform: translate(2px, 4px) rotate(0deg); }
	40% { -o-transform: translate(2px, -2px) rotate(1deg); }
	50% { -o-transform: translate(-2px, 6px) rotate(-1deg); }
	60% { -o-transform: translate(-2px, 2px) rotate(0deg); }
	70% { -o-transform: translate(6px, 2px) rotate(-1deg); }
	80% { -o-transform: translate(-4px, -2px) rotate(1deg); }
	90% { -o-transform: translate(4px, 2px) rotate(0deg); }
	100% { -o-transform: translate(2px, -4px) rotate(-1deg); }
}

@-ms-keyframes speeder {
	0% { -ms-transform: translate(4px, 2px) rotate(0deg); }
	10% { -ms-transform: translate(-2px, -6px) rotate(-1deg); }
	20% { -ms-transform: translate(-4px, 0px) rotate(1deg); }
	30% { -ms-transform: translate(2px, 4px) rotate(0deg); }
	40% { -ms-transform: translate(2px, -2px) rotate(1deg); }
	50% { -ms-transform: translate(-2px, 6px) rotate(-1deg); }
	60% { -ms-transform: translate(-2px, 2px) rotate(0deg); }
	70% { -ms-transform: translate(6px, 2px) rotate(-1deg); }
	80% { -ms-transform: translate(-4px, -2px) rotate(1deg); }
	90% { -ms-transform: translate(4px, 2px) rotate(0deg); }
	100% { -ms-transform: translate(2px, -4px) rotate(-1deg); }
}

@-webkit-keyframes speeder {
	0% { -webkit-transform: translate(4px, 2px) rotate(0deg); }
	10% { -webkit-transform: translate(-2px, -6px) rotate(-1deg); }
	20% { -webkit-transform: translate(-4px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(2px, 4px) rotate(0deg); }
	40% { -webkit-transform: translate(2px, -2px) rotate(1deg); }
	50% { -webkit-transform: translate(-2px, 6px) rotate(-1deg); }
	60% { -webkit-transform: translate(-2px, 2px) rotate(0deg); }
	70% { -webkit-transform: translate(6px, 2px) rotate(-1deg); }
	80% { -webkit-transform: translate(-4px, -2px) rotate(1deg); }
	90% { -webkit-transform: translate(4px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(2px, -4px) rotate(-1deg); }
}

@-moz-keyframes speeder {
	0% { -moz-transform: translate(4px, 2px) rotate(0deg); }
	10% { -moz-transform: translate(-2px, -6px) rotate(-1deg); }
	20% { -moz-transform: translate(-4px, 0px) rotate(1deg); }
	30% { -moz-transform: translate(2px, 4px) rotate(0deg); }
	40% { -moz-transform: translate(2px, -2px) rotate(1deg); }
	50% { -moz-transform: translate(-2px, 6px) rotate(-1deg); }
	60% { -moz-transform: translate(-2px, 2px) rotate(0deg); }
	70% { -moz-transform: translate(6px, 2px) rotate(-1deg); }
	80% { -moz-transform: translate(-4px, -2px) rotate(1deg); }
	90% { -moz-transform: translate(4px, 2px) rotate(0deg); }
	100% { -moz-transform: translate(2px, -4px) rotate(-1deg); }
}

@keyframes cssload-lf {
	0% {left: 200%;}
	100% {left: -200%;opacity: 0;}
}

@-o-keyframes cssload-lf {
	0% {left: 200%;}
	100% {left: -200%;opacity: 0;}
}

@-ms-keyframes cssload-lf {
	0% {left: 200%;}
	100% {left: -200%;opacity: 0;}
}

@-webkit-keyframes cssload-lf {
	0% {left: 200%;}
	100% {left: -200%;opacity: 0;}
}

@-moz-keyframes cssload-lf {
	0% {left: 200%;}
	100% {left: -200%;opacity: 0;}
}

body {
    overflow-x: hidden;
}
#body-content {
    display: none;
}

/* Preloader */
#preloader {
    position: fixed;
    opacity: 0;
    top:0;
    right: 0;
width: 0;
height: 100%;
overflow: hidden;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1000; /* makes sure it stays on top */
}

#preloader {
  transition: 1s;
  transition-timing-function: cubic-bezier(.86,.02,.14,1);
  -webkit-transition: 1s;
}


#preloader.active{
  overflow: visible;
  opacity: 1;
  width: 100%;
}
