// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tdbpage .profil {
  min-height: 70vh;
  padding-top: 30px
}
#commandesbloc, #trajetsbloc {
  display: none;
}
.lastdemandesbloc .recapdemande{
  padding: 15px 0
}
.editlinkbloc{
  padding-bottom: 10px
}
.parammenu li {
  min-height: 50px;
  padding-top: 15px;
}

.tdbpage .paramnav, .tdbpage .content {
  padding-left: 0;
  padding-right:0
}
.tdbpage .active a:hover{
  text-decoration: none;
}
.lastdemandesbloc .useritem .fa{
  float: none;
}
.waitingvalidations{
  margin-bottom: 50px
}
.useritem {
  color: rgb(0, 52, 105)
}
.passed{
  opacity: 0.5
}
.bg-x-light-grey{
  background-color: rgb(203, 203, 203);
  padding: 30px 2%
}
.bg-purple{
  background-color: #8e3dfb;
  padding: 30px 0
}


.edit-menu ol h4{
  margin: 20px 0;
  border-bottom: 2px solid #8e3dfb
}
.edit-menu ol li{
  display: inline-block;
  width: 100%
}
.edit-menu ol li a {
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom:  10px;
  width: 100%
}
.edit-menu ol li a.active {
background-color: white;
border: 1px solid rgb(179, 179, 179);
border-left: 5px solid #00bbf0;
color: #00bbf0
}

.pickings_form, .routines-bloc, .favdrives-bloc, .wdemandes-bloc,
.accdemandes-bloc, .rejdemandes-bloc, .validation-bloc, .wvalidation-bloc,
.wpaiement-bloc, .recpaiement-bloc {
  position: absolute;
  top:80px;
  left:-100%;
  background-color: white;
  border: 1px solid rgb(214, 214, 214);
  width: 95%;
  padding: 50px;
  z-index: 19
}

.edit-menu ol li a,
.pickings_form, .routines-bloc, .favdrives-bloc ,
.wdemandes-bloc,
.accdemandes-bloc, .rejdemandes-bloc, .validation-bloc, .wvalidation-bloc,
.wpaiement-bloc, .recpaiement-bloc
 {
  transition: 1.5s;
  transition-timing-function: cubic-bezier(.86,.02,.14,1);
  -webkit-transition: 1.5s;
}

.pickings_form.active, .routines-bloc.active, .favdrives-bloc.active ,.wdemandes-bloc.active,
.accdemandes-bloc.active, .rejdemandes-bloc.active, .validation-bloc.active,
.wvalidation-bloc.active, .wpaiement-bloc.active, .recpaiement-bloc.active  {
z-index: 20;
  left:25px;
}

@media all and (max-width:991px) {
  .navbar-right{
    padding-top: 8px
  }
  .paramnav{
    float: none;
    padding: 0;
    margin: 0
  }
  .parammenu{
    height: auto;
    padding: 0;
    margin: 0
  }
  .parammenu li{
    display: inline-block;
    vertical-align: bottom;
    width: 25%;
    padding-top: 0;
    margin: 0 -2px;
    min-height: 60px;
    padding-top: 5px
  }

  .lastdemandesbloc hr,#driverbloc hr {
    display: block;
  }
  .lastdemandesbloc .useritem {
    padding-top: 10px
  }
}
