// Place all the styles related to the Trajetpumds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newtrajet li{
  width: 100%;
  padding: 15px 25%;
  margin: 0
}
.newtrajet ol li input,.newtrajet ol li>div{
  width: 50%;
  display: inline-block;
}
#createtrajetform .fa {
  float: none;
}
.newtrajet .data_input{
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede
}



.searchpage {
  width: 100%;
  padding-top: 80px
}

.searchpage .searchbloc,.searchpage .filterbloc{
background-color: #00bbf0
}
.searchpage .row,.left-search-part{
padding: 0;
}
.searchpage .searchbloc hr {
  margin: 5px 0;
  padding: 0
}
.searchbloc ol, .filterbloc ol{
  padding-top: 20px
}
.searchbloc .search-item label,.searchbloc .search-item input,
 .filterbloc .search-item label,.filterbloc .search-item input{
  padding: 10px;
}
.searchbloc .search-item label,.filterbloc .search-item label{
  font-size: 1.5em;
  font-weight: 100
}
.searchbloc, .filterbloc{
  position: fixed;
  width: 50%;
  z-index: 96;
  left:-50%
}
.params-btn{

  position: fixed;
  top:90px;
  left:10px;
  padding: 0;
  margin: 0;
  z-index: 99;
}
button.filters-btn, button.new-search-btn {
  color: #8e3dfb;
  background-color: white;
  display: inline-block;
  width: auto;
  font-size: 1.3em;
  padding: 10px 15px;
  vertical-align: middle;
  border-radius: 25px;
  border: 2px solid #8e3dfb;
  margin-bottom: 40px
}
button.filters-btn i,button.new-search-btn i {
  float: none;
}

// animations filters-btn

.searchbloc.open-menu,.filterbloc.open-menu {
  left: 0;
}
.searchbloc,
.searchbloc.open-menu,.filterbloc,
.filterbloc.open-menu{
  transition: 1s;
  transition-timing-function: cubic-bezier(.86,.02,.14,1);
  -webkit-transition: 1s;
}


.rememberbloc{
  color: white;
  background-color: #8e3dfb;
  padding: 40px 0 !important
}



.markersbloc {
  height: auto;
  border: 2px solid black;
  overflow-y: scroll;
}
#markerslist1{
height:70vh
}
.map-search-part{
  height: 90vh;
  padding: 0;

}
#mapcontainer {
  height:100%;
  width:100%;

  float: right;
}
#map {
  width:100%;
  height: 100%;
}
.textbulle {
  width: 30%
}
.pickeravatarbulle{

  display: inline-block;
}
.trajetinfobulle{
  float: right;
  display: inline-block;
}
.shopbullepic{
  width: 80%;
  padding-left: 22%
}
.confirmationpage .trajetinfobulle {
  float: left;
}
.confimgdrive {
  width: 100px
}
.conftext{
  font-size: 1.3em;
  font-style: italic;
}

.confirmationpage{
  font-size: 1.2em;
}
.resumepick{
  margin: 30px 0
}
.formconfirm{
  font-weight: 400
}
.formconfirm .field {
  margin: 30px 0
}
.warningcode {
  text-decoration: underline;
  font-weight: 700
}
@media all and (max-width:991px) {
  #mapcontainer {
    height:60%;
    width:90%;
    margin-left: 5%;
    display: inline-block;
    float: none;
  }
  .gm-style-iw .col-xs-12, .gm-style-iw .col-sm-12 {
    padding-left: 0;
    padding-right: 0
  }
  .shopbullepic{
    width: 110%;
    padding-left: 0
  }
  .confirmationpage{
    font-size: 1em
  }
  .confirmationpage{
    font-size: 1em
  }
  .markersbloc {
    width: 90%;
    margin-left: 5%
  }

}
@media all and (max-width:700px) {
  .newtrajet{
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 20px
  }
  .newtrajet li{
    padding: 15px 0;
  }
  .newtrajet ol li input,.newtrajet ol li>div{
    width: 100%;
  }
  .data_input {
    padding-left: 2px;
    padding-right: 2px
  }
}
