<%= render partial:"head" %>

<h1>Hello <%= @resource.email %>!</h1>

<p>Il semblerait que tu ais des soucis avec ton Mot de Passe...</p>
<p>En cliquant sur le bouton, tu accèderas à un espace sécurisé pour changer directement ton mot de passe:</p>

<p><%= link_to 'Changer mon Mot de Passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si ce n'est pas le cas merci d'ignorer ce mail.</p>
<p>Ton mot de passe ne changera pas si tu ne clique pas sur le lien.</p>
