<div class="paiements_form moving_form">

  <ol class="list-unstyled col-xs-12">
    <li class="col-xs-12">
      <h3 class="grey1">Cartes:</h3>
      <p class="col-xs-6">XXXX-XXXX-XXXX-1234</p>
      <p class="col-xs-6">Expire: 12/18</p>
      <h3 class="grey1">Compte:</h3>
      <p class="col-xs-6">LA BANQUE POSTALE -</p>
      <p class="col-xs-6">1234567A89</p>

    </li>

</div>
